.banner {
  background-image: url(img/banner_background.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  @include desktop {
    height: 100vh;
    top: 0;
    position: sticky;
  }

  .banner__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 600px;
    @include desktop {
      max-width: 800px;
      margin-left: 30px;
    }
  }

  .banner__animation{
    height: 200px;
    background-image: url(img/chalk_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    @include desktop {
      background-image: url(img/chalk_logo_animation.png);
    	width: 700px;
    	height: 481px;
      background-position: center 0;
      background-size: cover;
    }
  }
  .banner__title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #ffffff;
    letter-spacing: 4px;
  }
  .banner__text {
    color: #c1c1c1;
    font-size: 1.6rem;
    line-height: 1.5;

  }
}

@include tablet-landscape {
  .banner {
    .banner__animation{
      margin-top: 10px;
    }
    .banner__title{
      font-size: 4.5rem;
    }
    .banner__content {
      font-size: 1.8rem;
    }
  }
}
