.footer {
  border-top: 1px solid $underscores;
  margin: 40px;
  padding-top: 20px;
  color: $dark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .footer__logo {
    display: block;
    width: 150px;
    .svg {
      max-height: 100%;
      fill: #000000;
    }
  }
}
