.footer {
  border-top: 1px solid $underscores;
  margin: 40px;
  padding-top: 20px;
  color: $dark;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .footer__logo {
    display: block;
    width: 150px;
    .svg {
      max-height: 100%;
      fill: #000000;
    }
  }
  .footer-nav {
    margin-top: 30px;
    .footer-nav__list {
      width: 100%;
      list-style: none;
      text-align: center;
      line-height: 2;
      padding: 0;
      margin: 0;
      @include tablet-portrait {
        display: flex;
      }
    .footer-nav__item {
      font-size: 2rem;
      padding: 10px 20px;
      color: $dark;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        border-bottom: 2px solid $red;
      }

    }
  }
  }
}
