.banner {
  background-image: url(img/banner_background.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
  padding: 30px;

  .banner__animation{
    height: 200px;
    background-image: url(img/chalk_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
  }
  .banner__title{
    margin: 20px 0;
    font-size: 2.5rem;
    color: #ffffff;
    letter-spacing: 4px;
  }
  .banner__content {
    font-size: 1.6rem;
    line-height: 1.5;
    max-width: 800px;
  }
}

@include tablet-landscape {
  .banner {
    .banner__animation{
      margin-top: 50px;
    }
    .banner__title{
      font-size: 4.5rem;
    }
    .banner__content {
      font-size: 2rem;
    }
  }
}
