.box-shadow--big{
  position:relative;
  &::before {
    content: '';
    display: none;
  }
}

.box-shadow--small {
  position: relative;
  &::before {
    content: "";
    display: none;
  }
}

@include tablet-portrait {
  .box-shadow--big{
    &::before {
      display:block;
      position:absolute;
      box-shadow:10px 10px 40px #b7b6b6a6;
      width: 100vw;
      height: calc(100% + 350px);
      top: 0;
      left:-2vw;
      z-index: -20;
    }
  }
  .box-shadow--small {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: calc(100% + 100px);
      width: calc(100% - 35px);
      box-shadow:10px 10px 40px #b7b6b6a6;
      right: 0;
      bottom: 0;
      z-index: -50;
    }
  }
}

.section-about__item {
  margin: 30px 0;
}

@include tablet-landscape {
  .section-about__item {
    box-sizing: border-box;
    width: 50%;
    padding: 50px 40px 50px 20px;
  }

.box-shadow--big{
  &::before {
    left:-50vw;
    height: calc(100% + 200px);
    }
  }
}

.design-animation {
  max-width: 250px;
  margin: 20px auto;
  display: block;
}
  .not-active .design-animation__svg {
    opacity: 0;
    fill-opacity: none;
    stroke: none;
  }
  .is-active .design-animation__svg   {
    stroke: #000000;
    stroke-width: 1px;
    fill: #000000;
    fill-opacity: 1;
    stroke-dasharray: 450;
    opacity: 1;
    animation: webdesign 2s ease-in-out;
  }
@keyframes webdesign {
  0% {
    opacity: 0;
    fill-opacity: 0;
    stroke-dashoffset: 450;
  }
  50% {
    fill-opacity: 0;
    stroke-dashoffset: 450;
  }
  70% {
    fill-opacity: 0;
  }
  100% {
    opacity: 1;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

.develop-animation.not-active {
  width: 30rem;
  margin: 0 auto;
  p {
    opacity: 0;
    display: none;
  }
}

.develop-animation.is-active {
  width: 30rem;
  margin-left: -30px;
 p {
  color: #000000;
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  border-right: 2px solid $red;
  overflow: hidden;
  margin: 0 0;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 2;
  &:nth-child(1) {
    width: 17rem;
    animation: type 1s steps(20, end);
    animation-fill-mode: forwards;
  }
  &:nth-child(2) {
    width: 7rem;
    opacity: 0;
    animation: type2 .6s steps(10, end);
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  &:nth-child(3) {
    width: 8rem;
    opacity: 0;
    animation: type3 .6s steps(10, end);
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
  }
  &:nth-child(4) {
    width: 24rem;
    opacity: 0;
    animation: type4 1.2s steps(30, end);
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }
  &:nth-child(5) {
    width: 25rem;
    opacity: 0;
    animation: type5 1.2s steps(30, end);
    animation-delay: 3.4s;
    animation-fill-mode: forwards;
  }
  &:nth-child(6) {
    width: 28rem;
    opacity: 0;
    animation: type6 1.2s steps(30, end);
    animation-delay: 4.6s;
    animation-fill-mode: forwards;
  }
  &:nth-child(7) {
    width: 8rem;
    opacity: 0;
    animation: type7 .6s steps(10, end);
    animation-delay: 5.8s;
    animation-fill-mode: forwards;
  }
  &:nth-child(8) {
    width: 7rem;
    opacity: 0;
    animation: type8 .6s steps(10, end), blink .5s step-end infinite alternate;
    animation-delay: 6.4s;
    animation-fill-mode: forwards;
  }
}
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 4px solid $red;
  }
  100% {
    border: none;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 2px solid $red;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type3 {
  @include develop-animation
}
@keyframes type4 {
  @include develop-animation
  }

@keyframes type5 {
  @include develop-animation
}
@keyframes type6 {
  @include develop-animation
}
@keyframes type7 {
  @include develop-animation
}
@keyframes type8 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (min-width: 350px) {
  .develop-animation.is-active {
    width: 30rem;
    margin: 0 auto;
  }
}
