.site-nav__container {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 500;
  .site-nav--toggle {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 999;
  }
}
.site-nav__container.is-expanded {
   .site-nav {
     right: 0;
     li {
       padding-left: 10px;
       opacity: 1;
     }
   }
}
.site-nav {
  position: absolute;
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  background-color: #ffffff;
  box-shadow: -1px 9px 19px -8px rgba(0, 0, 0, .49);
  transition: all .5s ease-in-out;
  .site-nav__list {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: auto;
    li {
      position: relative;
      border-bottom: 2px solid $underscores;
      padding: 15px 70px;
      opacity: 0;
      transition: all .5s ease-in-out;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        transition: all 0.4s;
        background: $red;
        z-index: 10;
        }
      }
    }
    li:hover::before,
    li:focus::before,
    li:active::before {
      width: 50%;
    }

    @include li-loop;
    .site-nav__item {
      font-size: 2rem;
      color: $gray;
      text-decoration: none;
    }

}
.site-nav--toggle:active,
.site-nav--toggle:focus {
  border: 5px outset rgba(239,104,100,0.19);
}
.hamburger {
  max-width: 100%;
  width: 50px;
  height: 5px;
  background: #ffffff;
  position:absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: all .5s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger:before,
.hamburger:after {
  content: '';
  max-width: 100%;
  width: 50px;
  height: 5px;
  background: #ffffff;
  position:absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}
.hamburger:before {
  top: -10px;
}
.hamburger:after {
  top: 10px;
}
.is-expanded .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.is-expanded .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}
.is-expanded .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
@include tablet-portrait {
  .site-nav {
    width: 450px;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }
}
