.banner {
  background-image: url(img/banner_background.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
  padding: 30px;

  .banner__animation{
    height: 200px;
    background-image: url(img/chalk_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
  }
  .banner__title{
    margin:0;
    font-size: 2.5rem;
    color: #ffffff;
  }
  .banner__content {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
