.butterfly-container {
  width: 100%;
  height: auto;
  left: 300px;
  top: 30px;
  margin: 0px auto;
  padding-top: 90px;
}

#butterfly {
  position: relative;
  transform: rotateZ(-20deg) rotate3d(0, 1, 0, 10deg) scale3d(1, 1, 1);
  transform-origin: 51% 50%;
  top: 20%;
  width: 300px;
  height: 175.5px;
  transform-style: preserve-3d;
  margin:auto;
}

.tentacles{
  background: url(img/butterfly-tentacles.png) no-repeat;
  position:absolute;
  width:16px;
  height:41.5px;
  left: 147px;
  top: 9px;
  background-size: cover;
}
.tentacles{
  animation-name: tentaclesani;
  animation-duration: 0.6s;
  animation-iteration-count: 4;
  animation-timing-function: ease-out;
}


.wing {
  transform: rotateX(30deg)  translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
  transform-origin: top right;
  position: absolute;
  left: 200px;
  top: 0px;
  width: 150px;
  height: 178.5px;
  background: url(img/butterfly-animation.png) no-repeat;
  background-size: cover;

}

#butterfly .left{
transform: rotateX(30deg) rotate3d(0, 1, 0, 0deg);
left: 0px;
top: 0px;
}
.wing{
  animation-name: rightwingani;
  animation-duration: 0.6s;
  animation-iteration-count: 4;
  animation-timing-function: ease-out;
}
#butterfly .left{
  animation-name: leftwingani;
}

@keyframes rightwingani {
	from {
		transform:rotateX(30deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
	}
	50% {
		transform:rotateX(30deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 100deg);
	}
	to{
		transform:rotateX(30deg) translate3d(-200px, 0px, 0px) rotate3d(0, 1, 0, 160deg);
	}
}

@keyframes leftwingani {
	from {
		transform:rotateX(30deg) rotate3d(0, 1, 0, 0deg);
	}
	50% {
		transform:rotateX(30deg) rotate3d(0, 1, 0, 80deg);
	}
	to{
		transform:rotateX(30deg) rotate3d(0, 1, 0, 00deg);
	}
}
@keyframes tentaclesani {
	from {
		transform:rotate3d(0, 1, 0, 0deg);
	}
	50% {
		transform:rotate3d(0, 1, 0, 60deg);
	}
	to{
		transform:rotate3d(0, 1, 0, 0deg);
	}
}

@media (max-width: 350px)
{
  #butterfly {
    width: 200px;
    height: 119px;
  }
  .wing {
    width: 120px;
    height: 142.8px;
  }
  .tentacles{
  width: 12.8px;
  height: 33.13px;
  left: 117px;
  top: 7px;
    }

}

@include tablet-portrait {
#butterfly {
  width: 500px;
  height: 297.5px;
}
.wing {
  width: 250px;
  height: 297.5px;
}
.tentacles{
width: 26.6px;
height: 68.9px;
left: 245px;
top: 14px;
  }
}

@include tablet-landscape {
#butterfly {
  width: 600px;
  height: 357px;
}
.wing {
  width: 300px;
  height: 357px;
}
.tentacles{
width:32px;
height:83px;
left: 294px;
top: 23px;
  }
}
