.btn {
position: relative;
z-index: 1;
display: inline-block;
vertical-align: middle;
margin-top: 16px;
padding: 14px 18px;
text-decoration: none;
color: $red;
font-size: 16px;
font-weight: 900;
letter-spacing: 1px;
outline: none;
overflow: hidden;
border: none;
background: none;
left: 50%;
-webkit-transform: translate(-50%, 0);
transform: translate(-50%, 0);
-webkit-transition: all .1s;
transition: all .1s;
}
.btn:hover{
font-size: 17px;
}

.btn-border::before, .btn-border::after {
position: absolute;
width: 100%;
height: 2px;
background-color: $red;
-webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
content: "";
}
.btn-border::before {
left: 0;
top: 0;
}
.btn-border::after {
right: 0;
bottom: 0;
}
.btn-border span::before, .btn-border span::after {
position: absolute;
width: 2px;
height: 100%;
background-color: $red;
-webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
content: "";
}
.btn-border span::before {
left: 0;
top: 0;
}
.btn-border span::after {
right: 0;
bottom: 0;
}

.btn-border__base:hover::before, .btn-border__base:hover::after {
width: 12px;
}
.btn-border__base:hover span::before, .btn-border__base:hover span::after {
height: 12px;
}
